.photo{
    width: 100px;
    height: 100px;
}
.selectedPage{
    font-weight: bold;
}
.Users{
display: flex;
    flex-wrap: wrap;
    width: 500px;
    border: 1px solid #333;
    cursor: pointer;
}
.boxMargin{
    margin-right: 5px;
    border-bottom: 1px solid #f10a0a;
}
